.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.RData
.Rprofile
.Rproj.user


.quarto/
/.joblib
/.quarto/
DS_Store
/.luarc.json
/*_files
/*_cache
/_freeze
_extensions/

published-202304-gimenez-lynx.html
published-202304-gimenez-lynx.pdf
published-202304-gimenez-lynx.ipynb
published-202304-gimenez-lynx.tex

_environment
/.micromamba/
_site/
logo_notext_white.png
/renv/
